@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bricolage+Grotesque:opsz,wght@12..96,700&display=swap");

.font-arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-bricolage-grotesque,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
